.editor-hidden {
    visibility: hidden;
    top: -9999px;
    left: -9999px;
    position: absolute;
}
textarea.text_wysiwyg {
    border: 0;
    margin: 0;
    padding: 0;
}
.yui-skin-sam .yui-toolbar-container .yui-toolbar-editcode span.yui-toolbar-icon {
    background-image: url( /static/javascript/yui/examples/editor/assets/html_editor.gif );
    background-position: 0 1px;
    left: 5px;
}
.yui-skin-sam .yui-toolbar-container .yui-button-editcode-selected span.yui-toolbar-icon {
    background-image: url(/static/javascript/yui/examples/editor/assets/html_editor.gif );
    background-position: 0 1px;
    left: 5px;
}
