body {
margin: 0 auto;
padding: 0;
}

#wrap {
background: #ffffff;
color: #303030;
margin: 0 auto;
width: 850px;
}

#header {
clear: both;
margin: 20px 0 0 0;
padding: 0;
height: 45px;
margin-bottom: 20px;
}

#header p {
width: 500px;
float: right;
text-align: center;
color: #a0a0a0;
margin: 0 0 10px 0;
font-size: 0.8em;
line-height: 1.2em;
}
#extras .announce {
width: 165px;
}
#loginBox {
padding:10px;
}

#extras {
float: right;
width: 175px;
margin: 0 0 10px 0;
padding: 0;
font-size: 0.9em;
line-height: 1.5em;
}
#extras p {
margin: 0 0 1.5em 0;
}
#extras label {

}
#extras input {
	width: 130px;
}
#hubHomeContent {
margin: 0 160px 20px 160px;
border-left: 1px solid #f0f0f0;
border-right: 1px solid #f0f0f0;
padding: 0 10px 0 10px;
line-height: 1.6em;
text-align: left;
}

#content h2 {
font-size: 1.5em;
margin: 0 0 0.5em 0;
}

h3 {
font-size: 1.3em;
margin: 0 0 10px 0;
}


#footer {
clear: both;
margin: 0 auto;
padding: 10px 0 20px 0;
border-top: 4px solid #f0f0f0;
width: 850px;
text-align: center;
color: #808080;
font-size: 0.9em;
}

#footer a {
color: #808080;
text-decoration: none;
}

#footer a:hover {
text-decoration: underline;
}

.left {
margin: 10px 10px 5px 0;
float: left;
}

.right {
margin: 10px 0 5px 10px;
float: right;
}

.textright {
text-align: right;
}

.center {
text-align: center;
}

.small {
font-size: 0.8em;
}

.bold {
font-weight: bold;
}

.hide {
display: none;
}

.profileTop{
        position: relative;
}
#pub_profile .profileDetails{
        margin-left:20px;
        vertical-align: top;
        top:45px;
}
.profileDetails{
        vertical-align: center;
        top:0px;
        position: relative;
        display:inline;
}
.propertyTitle{
        text-align:right;
        font-weight:900;
}
.propertyValue {
        text-align:left;
        position:relative;
        padding-left:15px;
}
