#calendarView {
	position:absolute;
	right: 0px;
	margin-top: 16px;
}
#resource_group_description {
	margin-top:5px;
	margin-bottom:5px;
	position:relative;
}
#spaceContent .bookingDate {
	margin: 0px;
	padding: 20px 0px 0px;
	border: none;
	text-align: center;
}

#spaceContent .bookingDate .bookingHub,
#spaceContent .bookingHub {
	float: right;
	padding: 0px;
}
#spaceContent .bookingDate h2 {
	color: #3F3F3F;
	margin: 0px;
	font-weight: normal;
	font-size: 11px;
	padding: 0px 10px;
	display: inline;
	height: 14px;
	line-height: 14px;
}
#spaceContent .bookingDate #leftArrow,
#spaceContent .bookingDate #rightArrow {
	margin: 0px;
	padding: 0px;
}
.checkbox,
.radio {
	margin: 0px 2px 0px 0px;
	padding: 0px;
}
#room_header {
	position: relative;
	padding-left: 32px;
	width: 613px;
	height: 35px;
	margin-top: 15px;
	margin-bottom: 0px;
}
#room_header .room_selector {
	float: left;
	margin: 0px;
	padding: 0px;
}
#room_header .label,
#room_header .label_selected {
	height:23px;
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 2px;
	display: block;
	z-index: 11;
	left: 0px;
	top: 0px;
	position: relative;
	filter: Alpha(opacity=50);
	opacity: 0.5;
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-decoration: none;
	margin: 0px;
	vertical-align: middle;
	overflow: hidden;
}
#room_selector_group {
	margin-top: 6px;
	padding-left: 32px;
	position: relative;
	width: 613px;
	overflow: hidden;
	height: auto;
	left: 0px;
	top: 0px;
}
#room_selector_group .room_selector {
	height: auto;
	width: auto;
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
	padding: 0px;
	margin: 0px 3px 5px 0px;
}
#room_selector_group .label,
#room_selector_group .label_selected {
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
	height: auto;
	width: 140px;
	padding: 2px 2px 2px 4px;
	display: block;
	z-index: 11;
	left: 0px;
	top: 0px;
	position: relative;
	filter: Alpha(opacity=50);
	opacity: 0.5;
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-decoration: none;
}
#room_selector_group .label:hover {
	filter: Alpha(opacity=75);
	opacity: 0.75;
}
#room_selector_group .label_selected,
#room_selector_group.dayview .label,
#room_selector_group.dayview .label_selected {
	filter: Alpha(opacity=100);
	opacity: 1;
}
#room_selector_group .close {
	height: 18px;
	width: 20px;
	display: block;
	border-style: none;
	padding: 0px;
	background-repeat: no-repeat;
	background-position: 4px 2px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 12;
}
#mybookings_selector_group label {
	height: auto;
	width: auto;
	padding: 2px 12px 2px 2px;
	display: block;
}
#room_header .room1 .label,
#room_selector_group .room1 .label,
#room_selector_group .room1 .label_selected,
#bookspacedate .room1 {
	background-color: #9d0020;
	border-color: #5a1514;
}
#room_header .room2 .label,
#room_selector_group .room2 .label,
#room_selector_group .room2 .label_selected,
#bookspacedate .room2 {
	background-color: #e8411a;
	border-color: #9b1f11;
}
#room_header .room3 .label,
#room_selector_group .room3 .label,
#room_selector_group .room3 .label_selected,
#bookspacedate .room3 {
	background-color: #ff9900;
	border-color: #b36000;
}
#room_header .room4 .label,
#room_selector_group .room4 .label,
#room_selector_group .room4 .label_selected,
#bookspacedate .room4 {
	background-color: #0e6fe7;
	border-color: #003fa3;
}
#room_header .room5 .label,
#room_selector_group .room5 .label,
#room_selector_group .room5 .label_selected,
#bookspacedate .room5 {
	background-color: #08a0d8;
	border-color: #006796;
}
#room_header .room6 .label,
#room_selector_group .room6 .label,
#room_selector_group .room6 .label_selected,
#bookspacedate .room6 {
	background-color: #00bbc2;
	border-color: #007d83;
}
#room_header .room_t .label,
#room_selector_group .room_t .label,
#room_selector_group .room_t .label_selected,
#bookspacedate .room_t {
	background-color: grey;
	border-color: #000000;
}
#room_selector_group .roomX {
	width: auto;
	filter: Alpha(opacity=100);
	opacity: 1;
}
.mybooking {
	background-image: url(/static/images/star.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.mewatching {
	background-image: url(/static/images/alert.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.unavailable {
	background-image: url(/static/images/cross.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
html>body .mybooking {
	background-image: url(/static/images/star.png);
}
html>body .mewatching{
	background-image: url(/static/images/alert.gif);
}
html>body .unavailable {
	background-image: url(/static/images/cross.png);
}
#mybookings_selector_group {
	position: absolute;
	top: 0px;
	right: -107px;
}
#room_add_group {
	position: absolute;
	top: 0px;
	right: -107px;
}
.bigcal_week,
.bigcal_day {
	position: relative;
	padding-left: 32px;
	background-image: url(/static/images/calendar_week_background.png);
	height: 505px;
	width: 613px;
	background-position: 0px 0px;
	margin-top: 30px;
}
.bigcal_day {
	background-image: url(/static/images/calendar_day_background.png);
	margin-top: 0px;
}
.day_group {
	position: relative;
	width: 87px;
	height: 100%;
	left: 0px;
	top: 0px;
	float: left;
}
.room_group {
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
	padding: 0px;
	margin: 0px;
}
.day_group .day_marker {
	color: #3F3F3F;
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 10px;
	top: -15px;
        cursor: pointer;
}
.bigcal_week .event,
.bigcal_week .unavailable,
.bigcal_day .event,
.bigcal_day .unavailable {
	font-size: 8px;
	color: #FFFFFF;
	text-decoration: none;
	position: absolute;
	border-style: solid;
	border-width: 1px;
	margin: 0px;
	padding: 0px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 87px;
        cursor: pointer;
	filter: Alpha(opacity=62);
	opacity: 0.62;
}
.bigcal_week .layer0{
        z-index:1;
}
.bigcal_week .layer1{
        z-index:2;
}
.bigcal_week .layer2{
        z-index:3;
}
.bigcal_week .layer3{
        z-index:4;
}
.bigcal_week .layer4{
        z-index:5;
}
.bigcal_week .layer5{
        z-index:6;
}
.bigcal_week .layer6{
        z-index:7;
}
.bigcal_week .layer7{
        z-index:8;
}
.bigcal_week .event:hover,
.bigcal_week .unavailable:hover,
.bigcal_week .room_selected{
	filter: Alpha(opacity=100);
	opacity: 1;
        z-index: 12;
}
.bigcal_week .room_selected{
        z-index: 11;
}
.other_booking {
        display: block;
}
.resource_on {
        display: block;
}
.other_booking_off {
        display: none;
}
.resource_off {
        display: none;
}
.bigcal_day .event,
.bigcal_day .unavailable {
	filter: Alpha(opacity=100);
	opacity: 1;
	padding: 2px;
	font-size: 9px;
}
#cal_key {
	margin-left: 32px;
	margin-top: 5px;
}
#mybookings {
	background-image: url(/static/images/star_black.png);
	background-position: left center;
	padding-left: 15px;
	background-repeat: no-repeat;
	color: #3F3F3F;
}
#unavailable_icon {
	background-image: url(/static/images/cross_black.png);
	background-position: left center;
	padding-left: 15px;
	background-repeat: no-repeat;
	color: #3F3F3F;
}
#watching {
	background-image: url(/static/images/alert.gif);
	background-position: left center;
	padding-left: 15px;
	background-repeat: no-repeat;
	color: #3F3F3F;
}.big_popup {
	border: 3px solid #9d0020;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	position: relative;
	background-color: #eeeeee;
	left: 0px;
	top: 0px;
	z-index: 100;
	margin: 0px;
	padding: 15px 20px 5px 5px;
}
#booking_popup {
	position: absolute;
	left: 32px;
	top: 0px;
        display: none;
        padding-bottom: 20px;
}
.booking_popupTable {
	font-size: 90%;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}
.booking_popupTable td {
	padding: 8px;
	vertical-align: top;
}
.booking_popupTable td.td_space {
	padding: 0px;
}
.booking_popupTable .left {
	width: 100px;
	text-align: right;
        font-weight: 600;
}
.booking_popupTable .right {
	width: 425px;
}
#booking_popup ul,
#booking_popup li {
	margin: 0px;
	padding: 0px 0px 3px;
	list-style: none;
}
#booking_popup form,
#booking_popup input,
#booking_popup select,
#booking_popup textarea {
	margin: -3px 0px 0px;
	padding: 0px;
	font-size: 11px;
}
#booking_popup .right img {
	float: left;
	padding-right: 10px;
}
.rightFloat {
	float: right;
}
#publicise_event {
        width: 120px;
}
#booking_popup #meeting_name {
	width: 260px;
}
#contentPane table textarea {
	width: 426px;
	height: 100px;
	font-size: 11px;
}
#booking_popup #booking_for {
	width: 428px;
}
#onlyMyBookings {
        width: 30%;
        margin-top: 16px;
        margin-left: 27px;
}
a#meetingBookingEdit {
        position:absolute;
        right:30px;
        top: 6px;
}
