/**
 * Navigation
 */
div#menu-top ul li a { font-size:11px; }
div#menu-top ul li a { text-decoration:none; }
div#menu-top ul li.selected a { font-weight:bold; }

/**
 * Footer
 */
#footer a{ font-weight:bold; font-size:1.2em }

/**
 * Headings
 */
h1, h1 a, h1 a:visited, h1 a:link, h1 a:hover, h1 a:active{ color:#560005; text-decoration:none; font-weight:bold; font-size:3em }
h2, h2 a, h2 a:visited, h2 a:link, h2 a:hover, h2 a:active{ color:#560005; text-decoration:none; font-weight:bold; font-size:2em }
h3, h3 a, h3 a:visited, h3 a:link, h3 a:hover, h3 a:active{ color:#560005; text-decoration:none; font-weight:bold; font-size:1.5em }

/* links */
a, a:visited, a:link, a:hover, a:active{ color:#560005 }
a{ outline:none }
a.action{ display:block; margin-bottom:10px }

/**
 * Sub-content boxes
 */
#content-main .content-sub h3{font-weight:normal}