#sidebar {
    float:right;   
    width: 300px;
}

#content-highlight img {
    height:200px;
    width:850px;
}

.container {width:850px;margin:0px 0px 0px 50px;}
.narrowcolumn {width:850px;margin:0px 0px 0px 50px;}

/*.fsField {
    width:100px;    
}*/

#upcoming-events {
    width:460px;
}

div#hssearch{ background:none !important; border:none !important; padding:4px 0 0 0;   }
div#hssearch form{ margin:40px 230px 0 0; width:950px; text-align:right; }

div#top-social{  height:36px; background:none !important; border:none !important;  padding:4px 0 0 0;  margin-bottom:-40px }
div#top-social h3{display:none}
div#top-social li{list-style:none; }
div#top-social ul ul{display:inline; float:right}
div#top-social ul ul li{position:absolute; top:5px;    }

#menu-top ul.hassubpages{ clear:both; width: 950px !important; background-color:#560005 !important;position:absolute; top:35px; opacity:.8; }
#menu-top  ul.hassubpages li{ background:none !important; border:none !important;  color:#fff !important;   }
#menu-top ul.hassubpages li a{color:#fff !important;  }
#menu-top  ul.hassubpages li a:hover{color:#ddd; text-decoration:underline}
#hsfooter{margin:0 auto; width:950px}

#hsfooter #footer{ border:1px solid #ddd; position:relative; bottom:0; padding:5px 10px}
#hsfooter #footer .footer-contact{float:right; width:90px; margin-left:10px }

#hsfooter #footer .footer-search{display:none}
div#join{padding-left:10px}
div#join a{text-decoration:none}
.button {
	display: inline-block;
	margin: 0 0 3px 5px;
	padding: 0;
	font: bold 13px "Helvetica Neue", Helvetica, Arial, clean, sans-serif;
	text-decoration: none;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.20);
	background: none;
	border: none;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	
	/* Fix extra width padding in IE */
	_width: 0;
	overflow: visible;
}

.button.simple-btn { 
	position: relative; 
	padding: 5px 10px 5px;
	font: inherit;
	font-size: 13px;
	font-style: normal; 
	font-weight: bold; 
	color: #fff;
	line-height: 1; 
	background:#333 url(img/btn-sprite.png) repeat-x 0 0;
	

	
	/* Special effects */
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -1px 0 1px rgba(0,0,0,0.25); 
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5); 
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	
	/* IE fix */
	border-bottom: 1px solid transparent\9;
	_background-image: none;
	
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	*display: inline !important;
	position: relative;
	/* Force hasLayout in IE */
	zoom: 1;
	/* Disable text selection (Firefox only)*/
	-moz-user-select: none;
}

.button.simple-btn::selection {
	background: transparent;
}

.button.simple-btn:hover {
	background-position: 0 -50px; 
	color: #fff;
}

.button.simple-btn:active { 
	background-position: 0 100%; 
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.7); 
	-webkit-box-shadow: none;
	/* IE fix */
	border-bottom: 0\9;
	border-top: 1px solid #666\9;
}

		
.input{	padding: 3px;	margin: 2px 0 10px 0;border: 1px solid #ccc;}
