body
{
	margin:0;
	font-family:Helvetica, Arial, Sans;
	font-size:76%;
	text-align:center;
	background:#FFF url(/static/images/entry/squiggle.gif) no-repeat 500px 0;
}

#main
{
	width:750px;
	margin:0 auto;
	padding:2px 0 0;
	text-align:left;
	position:relative;
}

#nav
{
	font-family:georgia, Times New Roman, Serif;
	font-size:1.85em;
}

#nav ul
{
	margin:50px 0 30px;
	padding:0;
}

#nav ul li
{
	display:inline;
	margin-right:5px;
}

#nav ul ul
{
	position:absolute;
	top:30px;
	right:145px;
	font-size:60%;
}

#nav a
{
	color:#B0A696;
}

#nav a:link{
	color:#B0A696;
}
#nav a:visited{
	color:#B0A696;
}
#nav a:hover{
	color:#FFB515;
}
#nav a:active{
	color:#FFB515;
}

#nav a.current:link
{
	color:#9D0020;
}

#nav a.current:visited
{
	color:#9D0020;
}

#content
{
	width:658px;
	margin-left:46px;
	padding:4px 0;
	position:relative;
	border-top:4px solid #9D0020;
	border-bottom:4px solid #9D0020;
}

#content #prevImage
{
	width:100px;
	position:absolute;
	left:0;
	top:4px;
	height:300px;
}
#content #nextImage
{
	width:100px;
	position:absolute;
	left:558px;
	top:4px;
	height:300px;
}
#nextArrow
{
	margin-top:115px;
	margin-left:33px;
	visibility:hidden;
}
#prevArrow
{
	margin-top:115px;
	margin-left:33px;
	visibility:hidden;
}
#content #mainImage
{
	width:450px;
	height:300px;
	margin:0 0 0 104px;
}
#content #tintImage
{
	visibility:hidden;
	width:450px;
	height:300px;
}

#mainText
{
	height:260px;
	padding:20px;
	overflow:auto;
}

#mainText { 
  height:300px; 
  voice-family: "\"}\""; 
  voice-family:inherit;
  height:260px;
} 

#lowNav img.logo
{
	margin-top:2px;
	float:right;
}

#content a, a:link, a:visited, a:active
{
	color:#9D0020;
	text-decoration:none;
}
#content a:hover
{
	text-decoration:underline;
}
p
{
	background-color:#FFB515;
	padding:2px;
	display:inline;
	line-height:1.7em;
	margin:0;
}

#catNav li
{
	display:inline;
}

#catNav
{
	position:relative;
}
#catNav a, a:hover, a:link, a:visited, a:active{
	color:#9D0020;
	}
	
#catNav ul {
	margin: 0;
	padding: 0;
	height: 38px;
	list-style: none;
	display: inline;
	overflow: hidden;
	position:absolute;
	top:33px;
	left:0;
}

#catNav li {
	margin: 0; 
	padding: 0;
	list-style: none;
	display: inline;
}

#catNav ul a{
	float: left;
	padding: 38px 0 0 0;
	overflow: hidden;
	height: 0px !important; 
	height /**/:38px; /* for IE5/Win only */
	background-position:0 0;
}

#here a  {width: 63px;background: url(/static/images/entry/here.gif)}
#nonevents a  {width: 119px;background: url(/static/images/entry/nonevents.gif)}
#whatcurrency a  {width: 163px;background: url(/static/images/entry/whatcurrency.gif)}
#whatif a  {width: 107px;background: url(/static/images/entry/whatif.gif)}
#whynot a  {width: 102px;background: url(/static/images/entry/whynot.gif)}



#catNav ul a:link{
	background-position:0 0;
}
#catNav ul a:visited{
	background-position:0 0;
}
#catNav ul a:hover{
	background-position:0 76px;
}
#catNav ul a:active{
	background-position:0 76px;
}
#catNav ul a.current:link{
	background-position:0 38px;
}
#catNav ul a.current:visited{
	background-position:0 38px;
}


#logo
{
	position:absolute;
	left:600px;
	top:20px;
}

#lowText, #hiText
{
	text-align:right;
	position:absolute;
	right:0px;
	top:40px;
	width:100px;
	font-size:76%;
}
#hiText{display:none;}
#lowText{display:none;}

#lowText:link, #hiText:link{color:#B0A696;}
#lowText:visited, #hiText:visited{color:#B0A696;}
#lowText:hover, #hiText:hover{color:#FFB515;}
#lowText:active, #hiText:active{color:#FFB515;}

#footer{
	margin-top:110px;
	color:#D1C8B8;
	padding:0 154px 0 0;
	text-align:right;
	font-size:80%;
}

#footer a{color:#B0A696}

#footer a:link{color:#B0A696;}
#footer a:visited{color:#B0A696;}
#footer a:hover{color:#FFB515;}
#footer a:active{color:#FFB515;}

.address{
display:block;
color:#9D0020;
margin-bottom:3px;
}
#footer .address a:link{color:#9D0020;}
#footer .address a:visited{color:#9D0020;}
#footer .address a:hover{color:#FFB515;}
#footer .address a:active{color:#FFB515;}

img{border:0;}
