
#sidebar {
    float:right;   
    width: 300px;
}

#content-highlight img {
    height:200px;
    width:850px;
}

.container {width:850px;margin:0px 0px 0px 50px;}
.narrowcolumn {width:850px;margin:0px 0px 0px 50px;}

/*.fsField {
    width:100px;    
}*/

#upcoming-events {
    width:460px;
}

div#hssearch{ display:block !important; background:none !important; border:none !important; padding:4px 0 0 0;   }
div#hssearch form{ margin:-40px 230px 0 0; width:950px; text-align:right; }

#menu-top div#top-social{position:absolute; left:200px; top:-100px; height:36px; background:none !important; border:none !important;  padding:4px 0 0 0;}
#menu-top div#top-social h3{display:none}
#menu-top div#top-social li {list-style:none; border:none; margin:0px;}


#menu-top ul.hassubpages{ clear:both; width: 950px !important; background-color:#560005 !important;position:absolute; top:40px; opacity:.8; }
#menu-top  ul.hassubpages li{ background:none !important; border:none !important;  color:#fff !important;   }
#menu-top ul.hassubpages li a{color:#fff !important;  }
#menu-top  ul.hassubpages li a:hover{color:#ddd; text-decoration:underline}

#hsfooter{margin:0 auto; width:950px}
#hsfooter #footer{ border:1px solid #ddd; position:relative; bottom:0; padding:5px 10px}
#hsfooter #footer .footer-contact{float:right; width:90px; margin-left:10px }

#hsfooter #footer .footer-search{display:none}
